# Compiled output (C)
*.exe
*.out
*.o
*.obj

# Build folders
build/
bin/

# VS Code / editor
.vscode/

# Environment (if ever used)
.venv/
venv/

# Debug files
*.dSYM/
*.pdb

# Logs
*.log

# System files
.DS_Store
Thumbs.db